<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.hpi.accidit.launcher.AcciditTracingLaunchConfigurationDelegate"
            id="de.hpi.accidit.launcher.acciditTracing"
            modes="run, debug"
            name="Accidit Trace Java Application"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.hpi.accidit.launcher.acciditTracing"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.launcher.launchConfigurationImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.hpi.accidit.launcher.AcciditTabGroup"
            id="de.hpi.accidit.launcher.launchConfigurationTabGroup"
            type="de.hpi.accidit.launcher.acciditTracing">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="trace"
            mode="trace">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="de.hpi.accidit.launcher.LocalJavaApplicationLaunchDelegate"
            delegateDescription="The Accidit launcher to enable tracing in local java applications."
            id="de.hpi.accidit.launcher.acciditJavaLaunchDelegate"
            modes="run, debug, trace"
            name="ACCIDIT Java"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
      <launchDelegate
            delegate="de.hpi.accidit.launcher.JUnitLaunchDelegate"
            delegateDescription="The Accidit launcher to enable tracing."
            id="de.hpi.accidit.launcher.acciditJUnitLaunchDelegate"
            modes="run, debug"
            name="ACCIDIT JUnit"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
   </extension>

</plugin>
