<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.hpi.accidit.eclipse.properties.DatabaseSettingsPreferencePage"
            id="de.hpi.accidit.eclipse.preferencePages.DatabaseSettings"
            name="Database Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.hpi.accidit.eclipse.properties.Configuration">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Accidit"
            id="de.hpi.accidit.eclipse">
      </category>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.TraceExplorerView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.TraceExplorerView"
            name="Trace Explorer"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.LocalsExplorerView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.LocalsExplorerView"
            name="Variables"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.NavigatorView"
            fastViewWidthRatio="0.3"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.NavigatorView"
            name="Navigator"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.breakpoints.BreakpointsView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.BreakpointsView"
            name="Breakpoints"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.history.HistoryView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.localsHistory.LocalsHistoryView"
            name="History"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            name="User Interactions">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.selectTestCase"
            name="Select Test Case">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.showVariableHistory"
            name="Show history">
      </command>
      <category
            id="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            name="Step Navigation">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepOut"
            name="Step Out">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepInto"
            name="Step Into">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepOver"
            name="Step Over">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackOut"
            name="Step Back Out">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackInto"
            name="Step Back Into">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackOver"
            name="Step Back Over">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.selectTestCaseForProject"
            name="Select Test Case">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.switchNavigatorLayout"
            name="Switch Layout">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.toggleCustomArrowNavigation"
            name="Custom Arrow Navigation">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.toggleAutoCollapse"
            name="Auto Collapse">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.addBreakpoint"
            name="Add Breakpoint">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.revealVariableSetter"
            name="Reveal Setter">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.toggleAcciditLineBreakpoint"
            name="Toggle Accidit Line Breakpoint">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.showFieldsHistories"
            name="Show Fields Histories">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.hpi.accidit.eclipse.handlers.SelectTestCaseHandler"
            commandId="de.hpi.accidit.eclipse.commands.selectTestCase">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepOutHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepOut">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepIntoHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepInto">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepOverHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepOver">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackIntoHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackInto">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackOutHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackOut">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackOverHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackOver">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.ShowVariableHistoryHandler"
            commandId="de.hpi.accidit.eclipse.commands.showVariableHistory">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="de.hpi.accidit.eclipse.views.provider.ThreadsafeContentProvider$ContentNode">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>  
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.SelectTestCaseForProjectHandler"
            commandId="de.hpi.accidit.eclipse.commands.selectTestCaseForProject">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.SwitchNavigatorLayoutHandler"
            commandId="de.hpi.accidit.eclipse.commands.switchNavigatorLayout">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.ToggleCustomArrowNavigationHandler"
            commandId="de.hpi.accidit.eclipse.commands.toggleCustomArrowNavigation">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.ToggleAutoCollapseHandler"
            commandId="de.hpi.accidit.eclipse.commands.toggleAutoCollapse">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.breakpoints.AddBreakpointHandler"
            commandId="de.hpi.accidit.eclipse.commands.addBreakpoint">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.RevealVariableSetterHandler"
            commandId="de.hpi.accidit.eclipse.commands.revealVariableSetter">       
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="de.hpi.accidit.eclipse.model.NamedValue$VariableValue">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>      
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.breakpoints.ToggleLineBreakpointHandler"
            commandId="de.hpi.accidit.eclipse.commands.toggleAcciditLineBreakpoint">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.ShowFieldsHistoriesHandler"
            commandId="de.hpi.accidit.eclipse.commands.showFieldsHistories">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.hpi.accidit.eclipse.commands.selectTestCase"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.hpi.accidit.eclipse.menus.menu"
               label="Accidit"
               mnemonic="M">
            <command
                  commandId="de.hpi.accidit.eclipse.commands.selectTestCase"
                  icon="icons/a_logo.png"
                  id="de.hpi.accidit.eclipse.menus.selectTestCase">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.LocalsExplorerView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.showVariableHistory"
               icon="icons/history_book.png"
               id="de.hpi.accidit.eclipse.toolbars.showVariableHistory"
               label="Show history"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.TraceExplorerView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepInto"
               icon="icons/step_into.png"
               id="de.hpi.accidit.eclipse.toolbars.stepInto"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepOver"
               icon="icons/step_over.png"
               id="de.hpi.accidit.eclipse.toolbars.stepOver"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepOut"
               icon="icons/step_out.png"
               id="de.hpi.accidit.eclipse.toolbars.stepOut"
               style="push">
         </command>
         <separator
               name="accidit-eclipse.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackOut"
               icon="icons/step_back_out.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackOut"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackOver"
               icon="icons/step_back_over.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackOver"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackInto"
               icon="icons/step_back_into.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackInto"
               style="push">
         </command>
         <separator
               name="accidit-eclipse.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.hpi.accidit.eclipse.commands.toggleCustomArrowNavigation"
               icon="icons/custom_arrow_navigation.png"
               id="de.hpi.accidit.eclipse.toolbars.toggleCustomArrowNavigation"
               style="toggle">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.toggleAutoCollapse"
               icon="icons/auto_collapse.png"
               id="de.hpi.accidit.eclipse.toolbars.toggleAutoCollapse"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <separator
               name="accidit-eclipse.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.hpi.accidit.eclipse.commands.selectTestCaseForProject"
               icon="icons/a_logo.png"
               id="de.hpi.accidit.eclipse.popup.selectTestCase"
               label="Select Test Case"
               style="push">    
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.NavigatorView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.switchNavigatorLayout"
               icon="icons/a_logo.png"
               id="de.hpi.accidit.eclipse.toolbars.switchNavigatorLayout"
               label="Switch Layout"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.BreakpointsView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.addBreakpoint"
               icon="icons/add_breakpoint.png"
               id="de.hpi.accidit.eclipse.toolbars.addBreakpoint"
               label="Add Breakpoint"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.hpi.accidit.eclipse.views.LocalsExplorerView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.showVariableHistory"
               icon="icons/history_book.png"
               id="de.hpi.accidit.eclipse.popups.showVariableHistory"
               label="Show history"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.showFieldsHistories"
               icon="icons/history_book.png"
               id="de.hpi.accidit.eclipse.popups.showFieldsHistories"
               label="Show Fields Histories"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.revealVariableSetter"
               id="de.hpi.accidit.eclipse.popups.revealVariableSetter"
               label="Reveal setter"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
         <command
               commandId="de.hpi.accidit.eclipse.commands.toggleAcciditLineBreakpoint"
               icon="icons/a_logo.png"
               id="de.hpi.accidit.eclipse.popups.toggleAcciditLineBreakpoint"
               label="Toggle Accidit Line Breakpoint"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.hpi.accidit.eclipse.AcciditPerspectiveFactory"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.AcciditPerspective"
            name="Accidit">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.hpi.accidit.eclipse.properties.DatabaseSettingsPreferencePage"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.propertyPages.DatabaseSettings"
            name="Database Settings">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="acciditAnnotationMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="de.hpi.accidit.eclipse.acciditAnnotationMarker"
            name="de.hpi.accidit.eclipse.breakpointAnnotation"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="de.hpi.accidit.eclipse.breakpointAnnotation"
            icon="icons/a_logo.png"
            includeOnPreferencePage="true"
            verticalRulerPreferenceKey="myMarkerIndicationInVerticalRuler">
      </specification>
   </extension>

</plugin>
