<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Accidit Preferences"
            class="de.hpi.accidit.eclipse.preferences.MainPreferencePage"
            id="de.hpi.accidit.eclipse.preferences.MainPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.hpi.accidit.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Accidit"
            id="de.hpi.accidit.eclipse">
      </category>
      <view
            name="Accidit View"
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.MainView"
            id="de.hpi.accidit.eclipse.views.MainView">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.MethodExplorerView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.MethodExplorerView"
            name="Method Explorer"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.LocalsExplorerView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.LocalsExplorerView"
            name="Locals and Fields"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="de.hpi.accidit.eclipse.views.MainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.hpi.accidit.eclipse.commands.openViewsCategory"
            name="Open Views">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.openViewsCategory"
            id="de.hpi.accidit.eclipse.commands.openMethodExplorerView"
            name="Open Method Explorer">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.openViewsCategory"
            id="de.hpi.accidit.eclipse.commands.openLocalsExplorerView"
            name="Open Locals Explorer ">
      </command>
      <category
            id="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            name="User Interactions">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.selectTestCase"
            name="Select Test Case">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.browseVariableHistory"
            name="Browse Variable History">
      </command>
      <category
            id="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            name="Step Navigation">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepOut"
            name="Step Out">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepInto"
            name="Step Into">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepOver"
            name="Step Over">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackOut"
            name="Step Back Out">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackInto"
            name="Step Back Into">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackOver"
            name="Step Back Over">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.hpi.accidit.eclipse.handlers.OpenMethodExplorerViewHandler"
            commandId="de.hpi.accidit.eclipse.commands.openMethodExplorerView">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.OpenLocalsExplorerViewHandler"
            commandId="de.hpi.accidit.eclipse.commands.openLocalsExplorerView">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.SelectTestCaseHandler"
            commandId="de.hpi.accidit.eclipse.commands.selectTestCase">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.BrowseVariableHistoryHandler"
            commandId="de.hpi.accidit.eclipse.commands.browseVariableHistory">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepOutHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepOut">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepIntoHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepInto">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepOverHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepOver">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackIntoHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackInto">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackOutHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackOut">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackOverHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackOver">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.hpi.accidit.eclipse.commands.openMethodExplorerView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.hpi.accidit.eclipse.menus.menu"
               label="Accidit"
               mnemonic="M">
            <command
                  commandId="de.hpi.accidit.eclipse.commands.openMethodExplorerView"
                  id="de.hpi.accidit.eclipse.menus.openMethodExplorerView">
            </command>
            <command
                  commandId="de.hpi.accidit.eclipse.commands.openLocalsExplorerView"
                  id="de.hpi.accidit.eclipse.menus.openLocalsExplorerView">
            </command>
            <command
                  commandId="de.hpi.accidit.eclipse.commands.selectTestCase"
                  icon="icons/sample.gif"
                  id="de.hpi.accidit.eclipse.menus.selectTestCase">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.hpi.accidit.eclipse.toolbars.toolbar">
            <command
                  commandId="de.hpi.accidit.eclipse.commands.openMethodExplorerView"
                  icon="icons/sample.gif"
                  id="de.hpi.accidit.eclipse.toolbars.openMethodExplorerView"
                  tooltip="Open the Method Explorer View">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.LocalsExplorerView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.browseVariableHistory"
               icon="icons/history_book.png"
               id="de.hpi.accidit.eclipse.toolbars.browseVariableHistory"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.MethodExplorerView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepInto"
               icon="icons/step_into.png"
               id="de.hpi.accidit.eclipse.toolbars.stepInto"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepOver"
               icon="icons/step_over.png"
               id="de.hpi.accidit.eclipse.toolbars.stepOver"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepOut"
               icon="icons/step_out.png"
               id="de.hpi.accidit.eclipse.toolbars.stepOut"
               style="push">
         </command>
         <separator
               name="accidit-eclipse.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackOut"
               icon="icons/step_back_out.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackOut"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackOver"
               icon="icons/step_back_over.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackOver"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackInto"
               icon="icons/step_back_into.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackInto"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
