<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.hpi.accidit.eclipse.properties.GeneralSettingsPreferencePage"
            id="de.hpi.accidit.eclipse.preferencePages.GeneralSettings"
            name="Accidit">
      </page>
      <page
            category="de.hpi.accidit.eclipse.preferencePages.GeneralSettings"
            class="de.hpi.accidit.eclipse.properties.DatabaseSettingsPreferencePage"
            id="de.hpi.accidit.eclipse.preferencePages.DatabaseSettings"
            name="Database Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.hpi.accidit.eclipse.properties.DatabaseConfiguration">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Accidit"
            id="de.hpi.accidit.eclipse">
      </category>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.TraceExplorerView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.TraceExplorerView"
            name="Trace Explorer"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.VariablesView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.VariablesView"
            name="Variables"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.NavigatorView"
            fastViewWidthRatio="0.3"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.NavigatorView"
            name="Navigator"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.breakpoints.BreakpointsView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.BreakpointsView"
            name="Breakpoints"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.history.HistoryView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.history.HistoryView"
            name="History"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.slice.SlicingCriteriaView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.slice.SlicingCriteriaView"
            name="Slicing Criteria"
            restorable="true">
      </view>
      <view
            category="de.hpi.accidit.eclipse"
            class="de.hpi.accidit.eclipse.views.SlicingStatusView"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.views.SlicingStatusView"
            name="Slicing Step"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            name="User Interactions">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.selectTestCase"
            name="Select Test Case">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.showVariableHistory"
            name="Show Variable History">
      </command>
      <category
            id="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            name="Step Navigation">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepOut"
            name="Step Out">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepInto"
            name="Step Into">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepOver"
            name="Step Over">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackOut"
            name="Step Back Out">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackInto"
            name="Step Back Into">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.stepBackOver"
            name="Step Back Over">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.selectTestCaseForProject"
            name="Select Test Case">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.switchNavigatorLayout"
            name="Switch Layout">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.toggleCustomArrowNavigation"
            name="Custom Arrow Navigation">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.stepNavigationCategory"
            id="de.hpi.accidit.eclipse.commands.toggleAutoCollapse"
            name="Auto Collapse">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.showLastChangeStep"
            name="Show Last Change Step">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.toggleAcciditLineBreakpoint"
            name="Toggle Accidit Line Breakpoint">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.showFieldsHistories"
            name="Show Fields Histories">
      </command>
      <category
            id="de.hpi.accidit.eclipse.commands.contentNodesPathwayCategory"
            name="Content Nodes Pathway">
      </category>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.contentNodesPathwayCategory"
            id="de.hpi.accidit.eclipse.commands.goBack"
            name="Go Back">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.contentNodesPathwayCategory"
            id="de.hpi.accidit.eclipse.commands.goForward"
            name="Go Forward">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.slice"
            name="Slice">
      </command>
      <command
            categoryId="de.hpi.accidit.eclipse.commands.userInteractionsCategory"
            id="de.hpi.accidit.eclipse.commands.sliceTrace"
            name="Slice Trace Explorer">
         <commandParameter
               id="de.hpi.accidit.eclipse.commands.sliceTrace.type"
               name="Type"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.hpi.accidit.eclipse.handlers.SelectTestCaseHandler"
            commandId="de.hpi.accidit.eclipse.commands.selectTestCase">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepOutHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepOut">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepIntoHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepInto">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepOverHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepOver">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackIntoHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackInto">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackOutHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackOut">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.StepBackOverHandler"
            commandId="de.hpi.accidit.eclipse.commands.stepBackOver">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.ShowVariableHistoryHandler"
            commandId="de.hpi.accidit.eclipse.commands.showVariableHistory">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="de.hpi.accidit.eclipse.views.provider.ThreadsafeContentProvider$ContentNode">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>  
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.SelectTestCaseForProjectHandler"
            commandId="de.hpi.accidit.eclipse.commands.selectTestCaseForProject">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.SwitchNavigatorLayoutHandler"
            commandId="de.hpi.accidit.eclipse.commands.switchNavigatorLayout">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.ToggleCustomArrowNavigationHandler"
            commandId="de.hpi.accidit.eclipse.commands.toggleCustomArrowNavigation">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.handlers.ToggleAutoCollapseHandler"
            commandId="de.hpi.accidit.eclipse.commands.toggleAutoCollapse">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.ShowLastChangeStepHandler"
            commandId="de.hpi.accidit.eclipse.commands.showLastChangeStep">       
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="de.hpi.accidit.eclipse.views.provider.ThreadsafeContentProvider$ContentNode">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>      
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.breakpoints.ToggleLineBreakpointHandler"
            commandId="de.hpi.accidit.eclipse.commands.toggleAcciditLineBreakpoint">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.ShowFieldsHistoriesHandler"
            commandId="de.hpi.accidit.eclipse.commands.showFieldsHistories">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.GoBackHandler"
            commandId="de.hpi.accidit.eclipse.commands.goBack">
         <activeWhen>
            <with
                  variable="de.hpi.accidit.eclipse.history.backState">
               <equals
                     value="true">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.history.GoForwardHandler"
            commandId="de.hpi.accidit.eclipse.commands.goForward">
         <activeWhen>
            <with
                  variable="de.hpi.accidit.eclipse.history.forwardState">
               <equals
                     value="true">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.slice.SliceHandler"
            commandId="de.hpi.accidit.eclipse.commands.slice">
      </handler>
      <handler
            class="de.hpi.accidit.eclipse.slice.SliceTraceHandler"
            commandId="de.hpi.accidit.eclipse.commands.sliceTrace">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.hpi.accidit.eclipse.commands.selectTestCase"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.hpi.accidit.eclipse.menus.menu"
               label="Accidit"
               mnemonic="M">
            <command
                  commandId="de.hpi.accidit.eclipse.commands.selectTestCase"
                  icon="icons/a_logo.png"
                  id="de.hpi.accidit.eclipse.menus.selectTestCase">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.VariablesView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.showVariableHistory"
               icon="icons/history_book.png"
               id="de.hpi.accidit.eclipse.toolbars.showVariableHistory"
               label="Show history"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.TraceExplorerView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepInto"
               icon="icons/step_into.png"
               id="de.hpi.accidit.eclipse.toolbars.stepInto"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepOver"
               icon="icons/step_over.png"
               id="de.hpi.accidit.eclipse.toolbars.stepOver"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepOut"
               icon="icons/step_out.png"
               id="de.hpi.accidit.eclipse.toolbars.stepOut"
               style="push">
         </command>
         <separator
               name="accidit-eclipse.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackOut"
               icon="icons/step_back_out.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackOut"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackOver"
               icon="icons/step_back_over.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackOver"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.stepBackInto"
               icon="icons/step_back_into.png"
               id="de.hpi.accidit.eclipse.toolbars.stepBackInto"
               style="push">
         </command>
         <separator
               name="accidit-eclipse.separator2"
               visible="true">
         </separator>
         <command
               commandId="de.hpi.accidit.eclipse.commands.toggleCustomArrowNavigation"
               icon="icons/custom_arrow_navigation.png"
               id="de.hpi.accidit.eclipse.toolbars.toggleCustomArrowNavigation"
               style="toggle">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.toggleAutoCollapse"
               icon="icons/auto_collapse.png"
               id="de.hpi.accidit.eclipse.toolbars.toggleAutoCollapse"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <separator
               name="accidit-eclipse.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.hpi.accidit.eclipse.commands.selectTestCaseForProject"
               icon="icons/a_logo.png"
               id="de.hpi.accidit.eclipse.popup.selectTestCase"
               label="Select Test Case"
               style="push">    
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.views.NavigatorView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.switchNavigatorLayout"
               icon="icons/a_logo.png"
               id="de.hpi.accidit.eclipse.toolbars.switchNavigatorLayout"
               label="Switch Layout"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.hpi.accidit.eclipse.views.VariablesView?after=additions">
         <command
               commandId="de.hpi.accidit.eclipse.commands.showVariableHistory"
               icon="icons/history_book.png"
               id="de.hpi.accidit.eclipse.popups.showVariableHistory"
               label="Show Variable History"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.showFieldsHistories"
               icon="icons/history_book.png"
               id="de.hpi.accidit.eclipse.popups.showFieldsHistories"
               label="Show Fields Histories"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.showLastChangeStep"
               icon="icons/arrow_large_right.png"
               id="de.hpi.accidit.eclipse.popups.showLastChangeStep"
               label="Show Last Change Step"
               style="push">
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.slice"
               label="Slice"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
         <command
               commandId="de.hpi.accidit.eclipse.commands.toggleAcciditLineBreakpoint"
               icon="icons/a_logo.png"
               id="de.hpi.accidit.eclipse.popups.toggleAcciditLineBreakpoint"
               label="Toggle Accidit Line Breakpoint"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.hpi.accidit.eclipse.history.HistoryView">
         <command
               commandId="de.hpi.accidit.eclipse.commands.goBack"
               icon="icons/go_back.png"
               id="de.hpi.accidit.eclipse.toolbars.goBack"
               label="Go Back"
               style="push">
            <!--
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="de.hpi.accidit.eclipse.history.backState">
                  <equals
                        value="true">
                  </equals>
               </with>
            </visibleWhen>
            -->
         </command>
         <command
               commandId="de.hpi.accidit.eclipse.commands.goForward"
               icon="icons/go_forward.png"
               id="de.hpi.accidit.eclipse.toolbars.goForward"
               label="Go Forward"
               style="push">
            <!--
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="de.hpi.accidit.eclipse.history.forwardState">
                  <equals
                        value="true">
                  </equals>
               </with>
            </visibleWhen>
            -->
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.hpi.accidit.eclipse.views.TraceExplorerView?after=additions">
         <menu
               label="Slice">
            <command
                  commandId="de.hpi.accidit.eclipse.commands.sliceTrace"
                  label="Call only"
                  style="push">
               <parameter
                     name="de.hpi.accidit.eclipse.commands.sliceTrace.type"
                     value="call_only">
               </parameter>
            </command>
            <command
                  commandId="de.hpi.accidit.eclipse.commands.sliceTrace"
                  label="Arguments only"
                  style="push">
               <parameter
                     name="de.hpi.accidit.eclipse.commands.sliceTrace.type"
                     value="arguments_only">
               </parameter>
            </command>
            <command
                  commandId="de.hpi.accidit.eclipse.commands.sliceTrace"
                  label="Call and Arguments"
                  style="push">
               <parameter
                     name="de.hpi.accidit.eclipse.commands.sliceTrace.type"
                     value="call_and_arguments">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.hpi.accidit.eclipse.AcciditPerspectiveFactory"
            icon="icons/a_logo.png"
            id="de.hpi.accidit.eclipse.AcciditPerspective"
            name="Accidit">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.hpi.accidit.eclipse.properties.GeneralSettingsPropertyPage"
            id="de.hpi.accidit.eclipse.propertyPages.GeneralSettings"
            name="Accidit">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="de.hpi.accidit.eclipse.propertyPages.GeneralSettings"
            class="de.hpi.accidit.eclipse.properties.DatabaseSettingsPreferencePage"
            id="de.hpi.accidit.eclipse.propertyPages.DatabaseSettings"
            name="Database Settings">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="acciditAnnotationMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="de.hpi.accidit.eclipse.acciditAnnotationMarker"
            name="de.hpi.accidit.eclipse.breakpointAnnotation"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="de.hpi.accidit.eclipse.breakpointAnnotation"
            icon="icons/a_logo.png"
            includeOnPreferencePage="true"
            verticalRulerPreferenceKey="myMarkerIndicationInVerticalRuler">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.hpi.accidit.eclipse.history.CommandsState">
         <variable
               name="de.hpi.accidit.eclipse.history.forwardState"
               priorityLevel="workbench">
         </variable>
   
         <variable
               name="de.hpi.accidit.eclipse.history.backState"
               priorityLevel="workbench">
         </variable>   </sourceProvider>
   </extension>

</plugin>
